@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --text-color: #ffffff;
  --background-gradient: #000000; /* fallback for old browsers */
  --background-gradient: -webkit-linear-gradient(to right, #434343, #000000);
  --background-gradient: linear-gradient(to right, #434343, #000000);
  --surface-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.05);
  --li-background-hover-color: rgba(255, 255, 255, 0.05);
  --highlight-background-hover-color: rgba(255, 255, 255, 0.2);
  --switch-button: url("./assets/moon-stars.svg");
}

.light {
  --text-color: #000000;
  --background-gradient: #fceabb;  /* fallback for old browsers */
  --background-gradient: -webkit-linear-gradient(to right, #f8b500, #fceabb);
  --background-gradient: linear-gradient(to right, #f8b500, #fceabb);
  --surface-color: rgba(0, 0, 0, 0.1);
  --border-color: rgba(0, 0, 0, 0.05);
  --li-background-hover-color: rgba(50, 51, 48, .2);
  --highlight-background-hover-color: rgba(0, 0, 0, 0.2);
  --switch-button: url("./assets/sun.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  color: var(--text-color);
}

body {
  background: var(--background-gradient);
  background-size: cover;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto;
  padding: 24px;
}

.profile {
  padding: 24px;
  text-align: center;
}

.profile img {
  width: 112px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

.profile {
  padding: 24px;
  text-align: center;
}

.profile p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 8px;
}

.profile-info p {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
}

.switch {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 8px auto;
  width: 64px;
}

.switch button {
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--switch-button) no-repeat center;
  background-color: white;
  cursor: pointer;

  position: absolute;

  transform: translateY(-50%);
  top: 50%;
  left: 0;

  animation: toggle-slide-left 0.2s;
}

.switch button:hover {
  outline: 8px solid var(--highlight-background-hover-color);
}

.switch .track {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  background-color: var(--surface-color);
  width: 60px;
  height: 20px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.links {
  padding: 24px 0;
}

.projects-title {
  text-align: center;
}

.links ul {
  display: flex;
  gap: 16px;
  padding: 24px 0;
  justify-content: center;

  list-style: none;
}

.links li {
  width: 200px;
  border-radius: 8px;
  background: var(--surface-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(4px);
  transition: background 0.5s;
  cursor: pointer;
  position: relative;
}

.links li:hover {
  background: var(--li-background-hover-color);
  border: 1.5px solid var(--text-color);
}

.links li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 16px 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
}

.card .card-title {
  font-size: 16px;
  font-weight: 500;
}

.card .in-development-tag {
  background-color: #F0DB4F;
  border-radius: 10px;
  font-size: 10px;
  font-weight: normal;
  padding: 4px 8px;
  width: 90px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 16px;
}

.card .in-development-tag span {
  color: #323330;
}

.social-links {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.social-links ion-icon {
  font-size: 24px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  border-radius: 50%;
  transition: background 0.2s;
}

.social-links a:hover {
  background-color: var(--highlight-background-hover-color);
}

footer {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

footer p a {
  text-decoration: underline;
}

@keyframes toggle-slide-right {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes toggle-slide-left {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
